.story__article::after,
h2::after,
#studio h2::before,
.site-footer ul::after,
.nomination-content h3::before,
.nomination-content h3::after {
	animation: rotate 15s linear infinite;
	line-height: 0;
}

h2 {
	span {
		display: block;
	}
}

.main-character {
	h3 {
		padding: 1.2em 2em;
		text-align: left;
		background-position: left;
		margin-left: 16vw;

		@media screen and (max-width: 920px) {
			text-align: center;
			background-position: center;
			margin-left: 0;
		}
		@media screen and (max-width: 430px) {
			font-size: 2rem;
		}
	}
}

.nomination-section {
	margin-top: 20px;

	h3 {
		background-image: url("./assets/images/orange_nomination_bg.png");
		padding: 2em 4.8em 2em 3.2em;
		font-size: 2.625rem;
		text-align: left;
		background-position: initial;

		@media (max-width: $xxlarge-breakpoint) {
			padding: 2em 3em;
			font-size: 2.125rem;
			max-width: 56%;
		}

		@media (max-width: $large-breakpoint) {
			font-size: 1.7em;
		}

		@media (max-width: $medium-breakpoint) {
			font-size: 1.4em;
			max-width: 54%;
		}

		@media (max-width: $tablet-breakpoint) {
			font-size: 1em;
			max-width: 45%;
		}

		@media (max-width: 720px) {
			font-size: 1em;
			max-width: 54%;
		}

		@media (max-width: 594px) {
			font-size: 1em;
			max-width: 65%;
		}

		@media (max-width: 504px) {
			font-size: 1em;
			max-width: 80%;
		}

		@media (max-width: 420px) {
			font-size: 1em;
			max-width: 98%;
		}
	}
}

#studio {
	h2 {
		@media (max-width: 470px) {
			font-size: 2.2rem;
		}
	}
}

h2 span {
	display: inline-block;
}
h3 span {
	display: inline-block;
}

/* -------------------------------------------------------------------------- */
/*                                 burger menu                                */
/* -------------------------------------------------------------------------- */

/* Styles de la liste du menu */
#menu ul {
	display: grid;
	justify-content: center;
	max-height: 80%;
	gap: 55px;
	padding: 0;
}

#menu li {
	color: #000;
	text-align: center;
	font-family: Roboto Mono;
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	@media (max-width: 520px) {
		font-size: 3.8rem;
	}
}
