/* -------------------------------------------------------------------------- */
/*                                 burger menu                                */
/* -------------------------------------------------------------------------- */

#toggleButton {
	background: none;
	border: none;
	cursor: pointer;

	#burgerImage {
		width: 30px;
		height: auto;
		transition: transform 0.4s ease-in-out;
	}

	&.rotate {
		#burgerImage {
			transform: rotate(270deg);
		}
	}
}

/* -------------------------------------------------------------------------- */
/* Styles communs pour la navigation principale */
.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 700px) {
		height: 80px;
	}

	.site-title {
		@media (max-width: 518px) {
			font-size: 17px;
			margin-left: 5%;
		}
	}
}

/* Styles responsifs pour la navigation principale */
@media screen and (max-width: 700px) {
	.main-navigation {
		height: 80px;
	}
}

/* Styles du titre du site */
.site-title {
	flex-grow: 1;
	text-align: center;
	margin-left: 13%;
}

/* Styles communs pour les boutons de navigation */
.main-navigation button {
	cursor: pointer;
	margin-right: 10%;
	z-index: 2;
}

/* Styles du menu */
#menu {
	z-index: 0;
	min-height: 100%;
	max-width: 1440px;
	width: inherit;
	position: fixed;
	top: 5.7rem;
	background-color: #fff5e9;
	text-align: center;
	display: none;
}

#menu.active {
	display: block;
	animation: fadeIn 0.3s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Styles de la liste du menu */
#menu ul {
	display: grid;
	justify-content: center;
	max-height: 80%;
	gap: 55px;
	padding: 0;
}

#menu li {
	color: #000;
	text-align: center;
	font-family: Roboto Mono;
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	@media (max-width: 520px) {
		font-size: 3.8rem;
	}
}

#menu li a {
	transition: 0.3s;
}

#menu li a:hover {
	text-shadow: 0px 0px 14px #ff5c00;
	color: #000;
	animation: hover 0.5s;
}

/* Styles du conteneur du logo */
.logo-container img {
	animation: floatAnimation 3s ease-in-out infinite;
}

.logo-container {
	margin-top: 25px;
}

/* Styles de l'image burger en bas */
.burger-bottom-image {
	padding-top: 10vh;
}

/* Styles de l'animation des liens */
.link-animation {
	opacity: 0;
	animation: fadeInLink 0.5s forwards;

	@keyframes fadeInLink {
		0% {
			transform: translateY(20px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	&:nth-child(1) {
		animation-delay: 0.2s;
	}

	&:nth-child(2) {
		animation-delay: 0.4s;
	}

	&:nth-child(3) {
		animation-delay: 0.6s;
	}

	&:nth-child(4) {
		animation-delay: 0.8s;
	}
}

/* Styles des éléments décoratifs */
.cat-black,
.cat-blue,
.cat-yellow,
.flower-menu,
.sun-flower,
.random-flower,
.flower,
.orchid-flower {
	position: absolute;
	margin-bottom: 2vw;
	margin-right: 2vw;
}

/* Keyframe pour le mouvement des chats */
@keyframes floatCats {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}

/* Styles communs pour les éléments décoratifs */
.cat-black {
	bottom: 20vw;
	right: 0vw;
	animation: floatCats 2s ease-in-out 1s infinite;
}

.cat-blue {
	bottom: 35vw;
	right: 56vw;
	animation: floatCats 2s ease-in-out infinite;
}

.cat-yellow {
	bottom: 8vw;
	right: 65vw;
	animation: floatCats 2s ease-in-out 0.5s infinite;
}

.flower-menu {
	bottom: -14vw;
	right: -32vw;
	animation: rotate 15s linear infinite;
}

.sun-flower {
	bottom: 33vw;
	right: 0vw;
	animation: rotate 15s linear infinite;
}

.random-flower {
	bottom: 28vw;
	right: -16vw;
	width: 5%;
	height: 7%;
	animation: rotate 15s linear infinite;
}

.flower {
	bottom: 26vw;
	right: 62vw;
	animation: rotate 15s linear infinite;
}

.orchid-flower {
	bottom: 37vw;
	right: 79vw;
	animation: rotate 15s linear infinite;
}

/* Media queries pour les ajustements responsifs */
@media (max-width: 1660px) {
	.cat-black {
		bottom: 14vw;
		right: 20vw;
	}

	.cat-blue {
		bottom: 41vw;
		right: 65vw;
	}

	.cat-yellow {
		bottom: 14vw;
		right: 78vw;
	}

	.flower-menu {
		bottom: -10;
		right: -26vw;
	}

	.sun-flower {
		bottom: 39vw;
		right: 5vw;
	}

	.random-flower {
		bottom: 37vw;
		right: -16vw;
	}

	.flower {
		bottom: 30vw;
		right: 63vw;
	}

	.orchid-flower {
		bottom: 43vw;
		right: 80vw;
	}
}

@media (max-width: 950px) {
	img[src*="flower"],
	img.orchid-flower {
		display: none;
	}

	img[src*="cat"] {
		display: none;
	}
}
