/* -------------------------------------------------------------------------- */
/*                          Animation pour le banner                          */
/* -------------------------------------------------------------------------- */

@keyframes floatAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(170px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flowers-animation::after,
.flowers-animation::before {
    animation: rotate 2s linear infinite !important;
}

.exclude-flowers-animation::before {
    animation: none !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
section:not(.banner) {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* -------------------------------------------------------------------------- */
/*                             Animation des titre                            */
/* -------------------------------------------------------------------------- */

.title-animation-first {
    animation: title 1s ease;
}
.title-animation {
    animation: title 1s ease;
}

@keyframes title {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.delay-title {
    animation: title 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(130px);
}

/* -------------------------------------------------------------------------- */
/*                                 burger menu                                */
/* -------------------------------------------------------------------------- */

/* Styles de l'animation des liens */
.link-animation {
    opacity: 0;
    animation: fadeInLink 0.5s forwards;

    @keyframes fadeInLink {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &:nth-child(1) {
        animation-delay: 0.2s;
    }

    &:nth-child(2) {
        animation-delay: 0.4s;
    }

    &:nth-child(3) {
        animation-delay: 0.6s;
    }

    &:nth-child(4) {
        animation-delay: 0.8s;
    }
}

/* Styles du menu */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Keyframe pour le mouvement des chats */
@keyframes floatCats {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* Animations pour éléments décoratifs */
.cat-black {
    bottom: 20vw;
    right: 0vw;
    animation: floatCats 2s ease-in-out 1s infinite;
}

.cat-blue {
    bottom: 35vw;
    right: 56vw;
    animation: floatCats 2s ease-in-out infinite;
}

.cat-yellow {
    bottom: 8vw;
    right: 65vw;
    animation: floatCats 2s ease-in-out 0.5s infinite;
}

.flower-menu {
    bottom: -14vw;
    right: -32vw;
    animation: rotate 15s linear infinite;
}

.sun-flower {
    bottom: 33vw;
    right: 0vw;
    animation: rotate 15s linear infinite;
}

.random-flower {
    bottom: 28vw;
    right: -16vw;
    width: 5%;
    height: 7%;
    animation: rotate 15s linear infinite;
}

.flower {
    bottom: 26vw;
    right: 62vw;
    animation: rotate 15s linear infinite;
}

.orchid-flower {
    bottom: 37vw;
    right: 79vw;
    animation: rotate 15s linear infinite;
}

#menu li a {
    transition: 0.3s;
}

/* Styles du conteneur du logo */
.logo-container img {
    animation: floatAnimation 3s ease-in-out infinite;
}
