$cloudBlur: 1.2rem;
/* Animation pour le banner */

.page {
    overflow-x: visible;
}
.banner {
    animation: fadeInSlideDown 1s ease-out;

    img {
        z-index: 2;
        animation: fadeInSlideUp 1s ease-out;
        animation: floatAnimation 3s ease-in-out infinite;

        @media (max-width: 1373px) {
            width: auto;
        }
    }

    video {
        position: absolute;
        z-index: 1;
        max-width: 100%;
        object-fit: cover;
        min-height: inherit;

        /* Retire la vidéo du banner pour les ecrans plus petits */
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
}

@keyframes floatAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(170px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.story__article::after,
h2::after,
#studio h2::before,
.site-footer ul::after,
.site-footer::before,
.site-footer::after {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

section:not(.banner) {
    opacity: 0; /* Initialisez l'opacité à 0 pour que la section soit invisible au début */
    transition: opacity 0.5s ease; /* Ajoutez une transition pour un fondu en douceur */
}

/* -------------------------------------------------------------------------- */
/*              style pour la section de la nomination aux Oscars             */
/* -------------------------------------------------------------------------- */

.nomination-section {
    margin-top: 20px;

    h3 {
        background-image: url("./assets/images/orange_nomination_bg.png");
        padding: 2em 4.8em 2em 3.2em;
        font-size: 2.625rem;
        text-align: left;
        background-position: initial;

        @media (max-width: 1400px) {
            padding: 2em 3em;
            font-size: 2.125rem;
            max-width: 56%;
        }
    }
}

.nomination-content {
    display: flex;
    align-items: center;
    padding: 10em;

    @media (max-width: 1373px) {
        padding: 2em;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1160px) {
    .nomination-section h3 {
        font-size: 1.7em;
    }
}

@media (max-width: 945px) {
    .nomination-section h3 {
        font-size: 1.4em;
        max-width: 54%;
    }
}

/* styles responsives pour les écrans de taille moyenne stop*/

/* -------------------------------------------------------------------------- */
/*                   style pour le carrousel des personnages                  */
/* -------------------------------------------------------------------------- */

.carrousel-characters {
    display: flex;
}

.swiper-wrapper {
    img {
        max-width: none;
    }
}

/*A revoir*/
.swiper-container {
    overflow: hidden;
    max-width: 100%;
    overflow-x: hidden;
}

.story #characters div {
    flex: 1;
    max-width: 100%;
}

.story {
    #place {
        max-width: 1440px;
        background-image: url("./assets/images/Studio_Koukaki-image_place.png");

        @media (max-width: 920px) {
            flex-direction: column;
        }
    }
}

h2 {
    span {
        display: block;
    }
}

.main-character {
    h3 {
        padding: 1.2em 2em;
    }
}

#characters {
    max-width: 100%;
}

.story #characters {
    margin: 0em;
}
/* -------------------------------------------------------------------------- */
/*                               style pour les nuages                        */
/* -------------------------------------------------------------------------- */
.clouds {
    position: relative;

    img {
        position: absolute;
        top: 10%;
        left: 1005px;
        max-width: none;
        filter: blur($cloudBlur);
    }
}

.clouds {
    img.little {
        top: 35%;
        left: 750px;
        filter: blur($cloudBlur);
    }

    @media screen and (max-width: 768px), screen and (max-width: 480px) {
        img,
        img.little {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
/* -------------------------------------------------------------------------- */
/*                             Animation des titre                            */
/* -------------------------------------------------------------------------- */

.title-animation-first {
    animation: title 1s ease;
}
.title-animation {
    animation: title 1s ease;
}

@keyframes title {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.delay-title {
    animation: title 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(130px);
}

h2 span {
    display: inline-block;
}

/* -------------------------------------------------------------------------- */
/*                                 burger menu                                */
/* -------------------------------------------------------------------------- */

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .main-navigation {
        height: 80px;
    }
}

.site-title {
    flex-grow: 1; /* Permet au titre de prendre tout l'espace disponible */
    text-align: center;
    margin-left: 13%;
}

.main-navigation button {
    cursor: pointer;
    margin-right: 10%;
    z-index: 2;
}

// .site-header {
//     z-index: 3;
// }

#menu {
    z-index: 0;
    min-height: 100%;
    max-width: 1440px;
    width: inherit;
    position: fixed;
    top: 5.7rem;
    // height: 0;
    background-color: #fff5e9;
    // opacity: 0.9;
    text-align: center;
    display: none; /* Masque le menu par défaut */
}

#menu.active {
    display: block; /* Affiche le menu lorsque la classe active est ajoutée */
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#menu ul {
    display: grid;
    justify-content: center;
    max-height: 80%;
    gap: 55px;
}

#menu li {
    color: #000;

    text-align: center;
    font-family: Roboto Mono;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 520px) {
        font-size: 3.8rem;
    }
}

#menu li a {
    transition: 0.3s;
}

#menu li a:hover {
    text-shadow: 0px 0px 14px #ff5c00;
    color: #000;

    animation: hover 0.5s;
}

// @keyframes hover {
//     0% {
//         transform: scale(1);
//     }
//     100% {
//         transform: scale(1.05);
//     }
// }

.logo-container img {
    animation: floatAnimation 3s ease-in-out infinite;
}

.logo-container {
    margin-top: 25px;
}

.burger-bottom-image {
    // transform: translateY(10em);
    padding: 100px;
}

/* -------------------------------------------------------------------------- */
.link-animation {
    opacity: 0;
    animation: fadeInLink 0.5s forwards;

    @keyframes fadeInLink {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &:nth-child(1) {
        animation-delay: 0.2s;
    }

    &:nth-child(2) {
        animation-delay: 0.4s;
    }

    &:nth-child(3) {
        animation-delay: 0.6s;
    }

    &:nth-child(4) {
        animation-delay: 0.8s;
    }
}

/*------------- Elements décoratifs de la page -----------*/
