$cloudBlur: 1.2rem;
$mobile-breakpoint: 460px;
$tablet-breakpoint: 820px;
$medium-breakpoint: 945px;
$large-breakpoint: 1160px;
$xlarge-breakpoint: 1373px;
$xxlarge-breakpoint: 1400px;
/* Animation pour le banner */

.page {
    overflow-x: visible;
}
.banner {
    animation: fadeInSlideDown 1s ease-out;

    img {
        z-index: 2;
        animation: fadeInSlideUp 1s ease-out;
        animation: floatAnimation 3s ease-in-out infinite;

        @media (max-width: 1373px) {
            width: auto;
        }
    }

    video {
        position: absolute;
        z-index: 1;
        max-width: 100%;
        object-fit: cover;
        min-height: inherit;

        /* Retire la vidéo du banner pour les ecrans plus petits */
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
}

@keyframes floatAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(170px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.story__article::after,
h2::after,
#studio h2::before,
.site-footer ul::after,
.site-footer::before,
.site-footer::after {
    animation: rotate 15s linear infinite;
}

/* Animationinitial */
.test-animation {
    animation: rotate 15s linear infinite;
}

/* Nouvelle classe avec la nouvelle animation */
.accelerate-animation {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

section:not(.banner) {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* -------------------------------------------------------------------------- */
/*                   style pour le carrousel des personnages                  */
/* -------------------------------------------------------------------------- */

.carrousel-characters {
    display: flex;
}

.swiper-wrapper {
    img {
        max-width: none;
    }
}

/*A revoir*/
.swiper-container {
    overflow: hidden;
    max-width: 100%;
    overflow-x: hidden;
}

.story #characters div {
    flex: 1;
    max-width: 100%;
}

.story {
    #place {
        max-width: 1440px;
        background-image: url("./assets/images/Studio_Koukaki-image_place.png");

        @media (max-width: 920px) {
            flex-direction: column;
        }
    }
}

h2 {
    span {
        display: block;
    }
}

.main-character {
    h3 {
        padding: 1.2em 2em;
        text-align: left;
        background-position: left;

        @media screen and (max-width: 564px) {
            text-align: center;
            background-position: center;
        }
        @media screen and (max-width: 430px) {
            font-size: 2rem;
        }
    }
}

#characters {
    max-width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               style pour les nuages                        */
/* -------------------------------------------------------------------------- */
.clouds {
    position: relative;

    img {
        position: absolute;
        top: 10%;
        left: 1005px;
        max-width: none;
        filter: blur($cloudBlur);
        /*en dessous de 1420px on enleve les nuages */
        @media screen and (max-width: 1420px) {
            display: none;
        }
    }
}

.clouds {
    img.little {
        top: 35%;
        left: 750px;
        filter: blur($cloudBlur);
    }

    @media screen and (max-width: 768px), screen and (max-width: 480px) {
        img,
        img.little {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/* -------------------------------------------------------------------------- */
/*              style pour la section de la nomination aux Oscars             */
/* -------------------------------------------------------------------------- */
.nomination-section {
    margin-top: 20px;

    h3 {
        background-image: url("./assets/images/orange_nomination_bg.png");
        padding: 2em 4.8em 2em 3.2em;
        font-size: 2.625rem;
        text-align: left;
        background-position: initial;

        @media (max-width: $xxlarge-breakpoint) {
            padding: 2em 3em;
            font-size: 2.125rem;
            max-width: 56%;
        }

        @media (max-width: $large-breakpoint) {
            font-size: 1.7em;
        }

        @media (max-width: $medium-breakpoint) {
            font-size: 1.4em;
            max-width: 54%;
        }

        @media (max-width: $tablet-breakpoint) {
            font-size: 1em;
            max-width: 45%;
        }

        @media (max-width: 720px) {
            font-size: 1em;
            max-width: 54%;
        }

        @media (max-width: 594px) {
            font-size: 1em;
            max-width: 65%;
        }

        @media (max-width: 504px) {
            font-size: 1em;
            max-width: 80%;
        }

        @media (max-width: 420px) {
            font-size: 1em;
            max-width: 98%;
        }
    }
}

.nomination-content {
    display: flex;
    align-items: center;
    padding: 10em;

    @media (max-width: $xlarge-breakpoint) {
        padding: 2em;
        flex-direction: column;
        text-align: center;
    }
}

#studio {
    h2 {
        @media (max-width: $mobile-breakpoint) {
            font-size: 2.5rem;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                             Animation des titre                            */
/* -------------------------------------------------------------------------- */

.title-animation-first {
    animation: title 1s ease;
}
.title-animation {
    animation: title 1s ease;
}

@keyframes title {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.delay-title {
    animation: title 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(130px);
}

h2 span {
    display: inline-block;
}
